<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:demo="urn:import:gwt.material.design.demo.client.ui">
           

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/rozgaar/greet</url-pattern>
  </servlet-mapping>
  
 <servlet>
 <servlet-name>fileUploaderServlet</servlet-name>
 <servlet-class>com.server.fileUploaderServlet</servlet-class>
 </servlet>
 
<servlet-mapping>
 <servlet-name>fileUploaderServlet</servlet-name>
 <url-pattern>/fileupload</url-pattern>
 </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>rozgaar.html</welcome-file>
  </welcome-file-list>

</web-app>
